Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  qt-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  portability-*,
  cert-*
WarningsAsErrors: ''
HeaderFilterRegex: 'src/'
FormatStyle: file
